/*
  Project: Item Selector
  Author: Gianluca Grasso (https://github.com/gian-grasso)
  License: http://www.apache.org/licenses/LICENSE-2.0
*/

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  
  .mt-lg-0 {
    margin-top: 0!important;
  }
  
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.section-title {
  text-align: left;
  margin-left: 0;
}

@media (max-width: 575px) {
  .section-title {
    text-align: center;
    margin-left: 5px;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select {
  word-wrap: normal;
}

.form-group {
  padding-bottom: 8px;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}