@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
  margin: 0px;
  text-align: center;
  padding-top: 43vh;
  color: #fff;
  font-family:'Roboto';
  font-size: 36px;
  font-weight: 100;
  overflow: hidden;
  animation: bg 5s linear infinite;
}

.dropping-texts {
  display: inline-block;
  width: 82px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;  
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}

label.highlight_text {
  font-weight: 300;
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes bg {
  0% {
    background: #FF005F;
  }
  3% {
    background: #FF005F;
  }
  20% {
    background: #FF005F;
  }
  23% {
    background: #C200FF;
  }
  40% {
    background: #C200FF;
  }
  43% {
    background: #007FFF;
  }
  60% {
    background: #007FFF;
  }
  63% {
    background: #007FFF;
  }
  80% {
    background: #007FFF;
  }
  83% {
    background: #007FFF;
  }
  100% {
    background: #007FFF;
  }
}